<%- include('include/head.ejs') %>
</head>

<body>
    <div class="container">
    <%- include('include/navbar.ejs') %>
    <h1><%= pageTitle %></h1>
    <p><%= pageNotFound %></p>
    </div>
    <%- include ('include/footer.ejs') %>    
<%- include('include/end.ejs') %>