<%- include('include/head.ejs') %>
</head>
<body>
    <%- include('include/navbar.ejs') %>
    <main>
        <div class="container">
        <h1><%= pageTitle %></h1>
        <br>
        <% if(wishes.length > 0) { %>
        <p>The items in the wishlist are listed as follows...</p>
        <div class="grid">
            <table class="wishTable">
                <tr>
                    <th><div id="manufacturer-title"> <%= wishMFGTitle %></div></th>
                    <th><div id="wish-title"> <%= wishTypeTitle %></div></th>
                    <th><div id="model-title"><%= wishNameTitle %></div></th>
                    <th><div id="color-title"><%= wishColorTitle %></div></th>
                    <th><div id="price-title"><%= wishPriceTitle %></div></th>
                </tr>
            <% for(let wish of wishes) { %>

                    <tr>
                      <td><div id="manufacturer"> <%= wish.wishMFG %></div></td>
                      <td><div id="type"> <%= wish.wishType %></div></td>
                      <td><div id="model"><%= wish.wishName %></div></td>
                      <td><div id="color"><%= wish.wishColor %></div></td>
                      <td><div id="price"><%= wish.wishPrice %></div></td>
                    </tr>

            <% } %>
        </table>

        </div> 
        <% } else { %>
            <div style="color: salmon;">
                <h1>No Wishes Found</h1>
            </div>
        <% } %>
        </div>
        <%- include ('include/footer.ejs') %>
    </main>
       
<%- include('include/end.ejs') %>
